<a href="https://colab.research.google.com/github/jiieunx/datacampus/blob/master/%ED%97%88%EA%B7%B8%EC%9D%BC%EC%9E%90%EB%A6%AC_%EB%8B%A8%EA%B3%84%EB%B3%84%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_excel('2.jaebum - 복사본.xlsx')
df1

                    DSJ_JUMIN_NO  DSJ_CARD_NO  ... JAEBUM  IS_JAEBUM
0       ///tqlgHDzaIE9DI/BBYJQ==  12020160195  ...      0          0
1       ///tqlgHDzaIE9DI/BBYJQ==  12020160195  ...      0          0
2       ///tqlgHDzaIE9DI/BBYJQ==  12020160195  ...      0          0
3       ///tqlgHDzaIE9DI/BBYJQ==  12020160195  ...      0          0
4       //1j2KsUJltLWf+kbwRVMA==  10020130211  ...      0          1
...                          ...          ...  ...    ...        ...
427680  ZzZkyUcoQofYZF8XXRItFg==  41020150182  ...      0          0
427681  ZzZkyUcoQofYZF8XXRItFg==  41020150182  ...      0          0
427682  ZzZkyUcoQofYZF8XXRItFg==  41020150182  ...      0          0
427683  ZzZkyUcoQofYZF8XXRItFg==  41020150182  ...      0          0
427684  ZzZkyUcoQofYZF8XXRItFg==  41020150182  ...      0          0

[427685 rows x 10 columns]

In [ ]:
print(df1.dtypes)

DSJ_JUMIN_NO                  object
DSJ_CARD_NO                    int64
CONSULT_DATE          datetime64[ns]
CARE_OPEN_CLASS_CD             int64
CARE_OPEN_CLASS_NM            object
CONSULT_GBN                  float64
CONSULT_GBN_NM                object
CONSULT_CONT                  object
JAEBUM                         int64
IS_JAEBUM                      int64
dtype: object

In [ ]:
df2 = pd.read_excel('허그예시.xlsx')
df2

                DSJ_JUMIN_NO          CARD      START        END  STEP
0   /4LlDK6gmHSYrQt7quBqsQ==   40020180651 2018-12-02 2018-12-12     1
1   /8G+DQYlcibT07A7vnaGEg==   40020170702 2018-12-23 2018-12-29     2
2   /CmBtronc/EjTx/OwBd+WA==  140020180222 2018-12-20 2018-12-30     3
3   /Dwc40CmQNZKgKVmvAA9Rg==  140020190003 2019-01-23 2019-01-29     4
4   /edYu9wm5a8FLnVO+OLu7Q==   40020180644 2019-05-30 2019-06-01     1
5   /hXKLBPPjnK+2fc4XoRZ+w==   70020180662 2019-01-28 2019-02-01     1
6   /isUxk6aOwbfRXpwgThD8w==  140020180099 2018-05-03 2018-05-13     2
7   /J76YbujG15PKpDbTSbiSA==   41020190172 2019-05-29 2019-06-10     2
8   /OnCJeUXJtwat4xuM9UZnw==  130020150238 2015-10-12 2015-10-22     3
9   /pNKtDXBKc6ss8YbwCCDyw==  140020180004 2018-01-24 2018-01-29     3
10  /rH/4FTvFltkWN1wx9/oPA==   90020180049 2018-01-25 2018-01-29     4
11  /VMxP3ia8CFbWGchzZk0Dg==   10020200448 2020-06-29 2020-07-01     4
12  +1ABnJrnKOXLkucu/cZIPA==  140020160057 2016-07-21 2016-07-29     1
13  +7409tCnW799oaraMLxnNg==  111020190174 2020-03-09 2020-03-19     5
14  +7409tCnW799oaraMLxnNg==  111020190174 2020-04-13 2020-04-20     1
15  +7409tCnW799oaraMLxnNg==  111020190174 2020-05-26 2020-05-29     2
16  +7409tCnW799oaraMLxnNg==  111020190174 2020-06-25 2020-06-29     2

In [ ]:
print(df2.dtypes)

DSJ_JUMIN_NO            object
CARD                     int64
START           datetime64[ns]
END             datetime64[ns]
STEP                     int64
dtype: object

In [ ]:
df1=df1[df1['CARE_OPEN_CLASS_NM']=='허그일자리']
df1

                    DSJ_JUMIN_NO   DSJ_CARD_NO  ... JAEBUM  IS_JAEBUM
500     /4LlDK6gmHSYrQt7quBqsQ==   40020180651  ...      0          0
890     /8G+DQYlcibT07A7vnaGEg==   40020170702  ...      0          0
1550    /CmBtronc/EjTx/OwBd+WA==  140020180222  ...      0          0
1972    /Dwc40CmQNZKgKVmvAA9Rg==  140020190003  ...      0          0
2015    /edYu9wm5a8FLnVO+OLu7Q==   40020180644  ...      0          0
...                          ...           ...  ...    ...        ...
425682  ZUSI4MPpOTbCsvPXM10HLw==   10020200121  ...      0          0
425962  zvhPbhe4/WbGO4SppFJJIQ==   81020170215  ...      1          1
426558  zwXXItf27kY742nFxE8W3Q==   90020180030  ...      0          0
426646  ZxeBKoyDofwQWMlw4Sb9zQ==   60020150530  ...      0          0
427540  zZjamU0SyTVYWMmHrdmWig==  150020190271  ...      2          1

[1350 rows x 10 columns]

In [ ]:
#진행단계별로 나누기 
df2=df2[df2['STEP']==1]
df2

                DSJ_JUMIN_NO          CARD      START        END  STEP
0   /4LlDK6gmHSYrQt7quBqsQ==   40020180651 2018-12-02 2018-12-12     1
4   /edYu9wm5a8FLnVO+OLu7Q==   40020180644 2019-05-30 2019-06-01     1
5   /hXKLBPPjnK+2fc4XoRZ+w==   70020180662 2019-01-28 2019-02-01     1
12  +1ABnJrnKOXLkucu/cZIPA==  140020160057 2016-07-21 2016-07-29     1
14  +7409tCnW799oaraMLxnNg==  111020190174 2020-04-13 2020-04-20     1

In [ ]:
df=pd.merge(df1,df2,how='inner',on='DSJ_JUMIN_NO')
df

               DSJ_JUMIN_NO   DSJ_CARD_NO  ...        END  STEP
0  /4LlDK6gmHSYrQt7quBqsQ==   40020180651  ... 2018-12-12     1
1  /edYu9wm5a8FLnVO+OLu7Q==   40020180644  ... 2019-06-01     1
2  /hXKLBPPjnK+2fc4XoRZ+w==   70020180662  ... 2019-02-01     1
3  +1ABnJrnKOXLkucu/cZIPA==  140020160057  ... 2016-07-29     1
4  +7409tCnW799oaraMLxnNg==  111020190174  ... 2020-04-20     1
5  +7409tCnW799oaraMLxnNg==  111020190174  ... 2020-04-20     1
6  +7409tCnW799oaraMLxnNg==  111020190174  ... 2020-04-20     1
7  +7409tCnW799oaraMLxnNg==  111020190174  ... 2020-04-20     1

[8 rows x 14 columns]

In [ ]:
import numpy as np
new_df=df[(df['CONSULT_DATE'] >= df['START']) & (df['CONSULT_DATE'] <= df['END'])]

In [ ]:
new_df

               DSJ_JUMIN_NO   DSJ_CARD_NO  ...        END  STEP
0  /4LlDK6gmHSYrQt7quBqsQ==   40020180651  ... 2018-12-12     1
1  /edYu9wm5a8FLnVO+OLu7Q==   40020180644  ... 2019-06-01     1
2  /hXKLBPPjnK+2fc4XoRZ+w==   70020180662  ... 2019-02-01     1
3  +1ABnJrnKOXLkucu/cZIPA==  140020160057  ... 2016-07-29     1
5  +7409tCnW799oaraMLxnNg==  111020190174  ... 2020-04-20     1

[5 rows x 14 columns]